LDAP group search should escape DN

When searching for an LDAP user's groups in `ldap/backend.go` L147:

```go
sresult, err := c.Search(&ldap.SearchRequest{
	BaseDN: cfg.GroupDN,
	Scope:  2, // subtree
	Filter: fmt.Sprintf("(|(memberUid=%s)(member=%s)(uniqueMember=%s))", username, userdn, userdn),
})
```

`%s` should be escaped. In my example, DN is `cn=lastname\, firstname,ou=[...]`. The `\` should be escaped to `\5c`, so that the finally filter is

```
(|(memberUid=...)(member=cn=lastname\5c, firstname,ou=[...])(uniqueMember=...))
```

(Note that applying `EscapeLDAPValue` doesn't cover this.)

Refs #975 

Hi, @jonashaag 

What's the correct way to escape it if using EscapeLDAPValue doesn't cover it?

Also, I'm not sure what your second comment means -- the line you reference wasn't introduced in that commit.

> What's the correct way to escape it if using EscapeLDAPValue doesn't cover it?

See RFC 4515, section 3:

>   The <valueencoding> rule ensures that the entire filter string is a
>   valid UTF-8 string and provides that the octets that represent the
>   ASCII characters "*" (ASCII 0x2a), "(" (ASCII 0x28), ")" (ASCII
>   0x29), "\" (ASCII 0x5c), and NUL (ASCII 0x00) are represented as a
>   backslash "\" (ASCII 0x5c) followed by the two hexadecimal digits
>   representing the value of the encoded octet.

Filter strings should be escaped as follows:

```
*  ->  \2a
(  ->  \28
)  ->  \29
\  ->  \5c
```

> Also, I'm not sure what your second comment means -- the line you reference wasn't introduced in that commit.

Oups, must have confused that; I've remove the comment.

I actually meant in code... if we put in escapes here and as you say they don't work, that seems like an issue to raise with go-ldap. But from a Vault perspective the fix *ought* to be to use EscspeLDAPValue, right?

OK, I looked this up for you, there seems to be `EscapeFilter` in go-ldap which does exactly what is needed here. Unfortunately there doesn't seem to be some generic, structured filter composition tool in there, like

```go
OR(mkFilter("memberUid=%e", ...), mkFilter("member=%e", dn), mkFilter("uniqueMember=%e", ...))
/* %e == EscapeFilter(%s) */
```

Maybe that's something that should be added there.

So there is a difference here which is RFC 4514 defines DN escaping, which is what `EscapeLDAPValue` is for, and RFC 4515 defines search filter escaping, which is what `ldap.EscapeFilter` is for.

In either case I think we need to go through and ensure that any sprinted values are escaped via one function or the other depending on where they are. It's too big a change for 0.5 at this point so I'll slot it in for 0.5.1.

I'm happy to work on this.

Here's a "prototype" implementation of what I am talking about in go-ldap/ldap#45. It's a better solution to the escaping problem than simply scatter calls to `EscapeFilter` all around the code. It removes that complexity from future contributors/changes and makes it impossible to forget escaping somewhere in the code.

```go
package main

import (
	"fmt"
)

const (
	FilterEq = 0
	FilterOr = 1
)

/* Maps op -> (prefix string, infix string) */
var FilterOps = map[uint64][2]string{
	FilterEq: {"", "="},
	FilterOr: {"|", ""},
}

type FilterLeaf string  // or FilterLiteral
type FilterBranch struct {  // or FilterComposition
	Op uint64;
	Children []Filter;
}

type Filter interface {
	filterToString() string
}

func escapeFilter(s string) string {
	/* Dummy, to be replaced by EscapeFilter */
	return "[" + s + "]"
}

func (l FilterLeaf) filterToString() string {
	return escapeFilter(string(l))
}
func (b FilterBranch) filterToString() string {
	res := "(" + FilterOps[b.Op][0]
	for i := 0; i < len(b.Children); i++ {
		if i > 0 {
			res += FilterOps[b.Op][1]
		}
		res += b.Children[i].filterToString()
	}
	return res + ")"
}

func main() {
	var f Filter = FilterBranch{FilterOr, []Filter{
		FilterBranch{FilterEq, []Filter{FilterLeaf("foo"), FilterLeaf("bar")}},
		FilterBranch{FilterEq, []Filter{FilterLeaf("spam"), FilterLeaf("eggs")}},
		FilterBranch{FilterOr, []Filter{FilterBranch{FilterEq, []Filter{FilterLeaf("fizz"), FilterLeaf("buzz")}},
		                                FilterBranch{FilterEq, []Filter{FilterLeaf("a"), FilterLeaf("b")}}}}}}

	fmt.Println(f.filterToString())
}
```

I'm going to fix this with `ldap.EscapeFilter` for now. If `go-ldap` accepts your proposal for a filter framework, I'll be happy to migrate to that (and/or accept a PR to migrate to that) but I'd want them to run their battery of tests against such a change.

Sure! Sounds good to me.

I'd be grateful if you could review #1100 -- it's super simple. If you want to build and test that would be great too. I'm also interested in knowing what you think about https://github.com/hashicorp/vault/commit/331f57c082e352365325cc184b328bab0dfd8ace.