pki: calculate Subject Key Identifier according to RFC 5280

**Is your feature request related to a problem? Please describe.**

Currently, when issuing certificates, Vault sets the subject key identifier as the sha1 over the public key encoded as a SubjectPublicKeyInfo structure. This deviates from the standard way of calculating the subject key identifier as described in [RFC 5280, Section 4.2.1.2](https://tools.ietf.org/html/rfc5280#section-4.2.1.2), and implemented by OpenSSL and the likes.

RFC 5280 describes the calculation as:
> (1) The keyIdentifier is composed of the 160-bit SHA-1 hash of the
           value of the BIT STRING subjectPublicKey (excluding the tag,
           length, and number of unused bits).

**Describe the solution you'd like**

I would like Vault to calculate the subject key identifier according to RFC 5280.

**Describe alternatives you've considered**

none

**Explain any additional use-cases**

I want to find certificates that match my private key in an easy way. This can be done by calculating the subject key identifier of the public key, and searching for certificates that contain that identifier. I would prefer if I do not have to distinguish whether the certificates were created via OpenSSL or Vault.

**Additional context**

none


For reference, this is how the go stdlib does it:

https://github.com/golang/go/blob/196b104bc172c8ba7e0565293722de319071ade3/src/crypto/x509/x509.go#L2180-L2187
https://github.com/golang/go/blob/196b104bc172c8ba7e0565293722de319071ade3/src/crypto/x509/x509.go#L2159
https://github.com/golang/go/blob/196b104bc172c8ba7e0565293722de319071ade3/src/crypto/x509/x509.go#L73



RFC 5280 does not specify that this is how SKI/AKI values must be generated.

```
   For CA certificates, subject key identifiers SHOULD be derived from
   the public key or a method that generates unique values.  Two common
   methods for generating key identifiers from the public key are:

      (1) The keyIdentifier is composed of the 160-bit SHA-1 hash of the
           value of the BIT STRING subjectPublicKey (excluding the tag,
           length, and number of unused bits).

      (2) The keyIdentifier is composed of a four-bit type field with
           the value 0100 followed by the least significant 60 bits of
           the SHA-1 hash of the value of the BIT STRING
           subjectPublicKey (excluding the tag, length, and number of
           unused bits).

   Other methods of generating unique numbers are also acceptable.

   ...

   Where a key identifier has not been previously established, this
   specification RECOMMENDS use of one of these methods for generating
   keyIdentifiers or use of a similar method that uses a different hash
   algorithm.  Where a key identifier has been previously established,
   the CA SHOULD use the previously established identifier.
```

So use of either method (1) or (2) is a SHOULD but not a MUST.  Operationally
there should be no impact to doing it in a slightly different way.

@frasertweedale technically correct, yes.

But I wonder why you would want to deviate both from the RFC and the go stdlib implementation.
What is the advantage you see doing it differently? 

I'm not defending it (I don't work on this program at all) - just pointing out that it shouldn't
be a problem, and if it is causing a problem, the real bug is somewhere else.

FWIW I have dealt with real world systems that used totally different schemes of SKI
calculation/assignment.  I don't know *why*, but they did.

@frasertweedale Sorry, I was not intending to attack you. I hope it was not received this way.

@oncilla not at all.  It was received in the spirit of robust technical discussion :)

@frasertweedale I definitely agree in spirit, but I did a bit of a brief survey (around when I asked on `#dogtag-pki`) and Go (linked above by @oncilla), OpenSSL, Dogtag, Let's Encrypt's Boulder (and presumably Pebble?), and EJBCA (which uses BouncyCastle under the covers) all use the first method from the RFC... (I didn't see any obvious SKI generating code in NSS but I might've missed it since I only looked briefly after looking at Dogtag).

I've not yet done a survey of certs issued by other public CAs, but even without that, in my opinion, this almost makes it a de facto standard (maybe that's worse...) even if it isn't strictly _required_ by the RFC.

P.S. always nice seeing you around, Fraser :-) 

@cipherboy it seems like an unsafe assumption to rely on SKID for such a use case.  But when you say "search for a key across multiple CAs" - how do you do that?  Do you mean in transparency logs, or else how?

@frasertweedale Good question :-D

CT log definitely has the information, and tools like https://crt.sh?a=1 support [searching by SKID/AKID](https://crt.sh/?ski=7C%3AFA%3A6A%3A6D%3A36%3A15%3AF8%3AC5%3A4E%3A22%3AAC%3A9A%3ABA%3A44%3A1D%3A21%3A71%3A45%3A0D%3AAE). I'm not sure if other implementations of CT support querying on this field value though, and/or if various internal CA providers (Dogtag, AD, ...) &c support the same operation in the absence of CT.