[bug] vault + consul +dnsmasq = unresolvable ping

vault 0.9.0
consul 1.0.0

This behavior is being observed after attempting to emulate the "c1m" or "container 1 million" challenge configuration.  I'm posting it under vault as it is the only service I'm aware of exhibiting the behavior, and I _believe_ the fault lies with how vault registers itself in consul.

**Setting the Stage**:
Using Ubuntu 16.04 servers, use packer to deploy servers using the scripts from [c1m](https://github.com/hashicorp/c1m) (or take existing boxes and just run the various .sh scripts)  .  This will result in not only consul being locally installed, but dnsmasq bound to 127.0.0.1 and redirecting /consul/127.0.0.1#8600

Once done, introduce an HA Vault solution in the same Datacenter (not the same server).  This will, of course, result in the "vault" service being registered in Consul.

**Demonstrating the Issue**

Easiest way to demonstrate this issue will be to break things down into steps, so bare with me:

1. ping randomservice.service.consul <-- success!
2. ping active.vault.service.consul <-- fails!
3. ping vault.service.consul <-- fails!
4. service stop dnsmasq
5. ping randomservice.service.consul <-- success!
6. ping active.vault.service.consul <--success!
7. ping vault.service.consul <-- fails!

So the oddity here is the "active.vault" ping fails when dnsmasq is running, but succeeds when it is stopped.  it' also worth mentioning, that an nslookup and dig will both work perfectly fine.  It's also worth noting that when you dig vault.service.consul, you get CNAMES instead of A records:

```
; <<>> DiG 9.10.3-P4-Ubuntu <<>> vault.service.consul
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 13482
;; flags: qr rd ra; QUERY: 1, ANSWER: 4, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4000
;; QUESTION SECTION:
;vault.service.consul.       IN      A

;; ANSWER SECTION:
vault.service.consul. 0      IN      CNAME   lv-pd-sdsc-02[redacted].
vault.service.consul. 0      IN      CNAME   lv-pd-sdsc-01[redacted].
vault.service.consul. 0      IN      CNAME   lv-pd-sdsc-03[redacted].
lv-pd-sdsc-02[redacted]. 1200 IN A   10.10.32.10

;; Query time: 0 msec
;; SERVER: 10.10.12.10#53(10.10.12.10)
;; WHEN: Wed Nov 22 21:06:08 UTC 2017
;; MSG SIZE  rcvd: 172
```
I'm asking in the vault support because it looks like the culprit might be that somehow vault is registering CNAMES instead of A records, which is technically "bad" (doesn't follow RFC).  I'm suspicious of this being why dnsmasq refuses to resolve "active.vault" as it's a sub record.  

Googling pulled up some old references to this but no solutions, so any clarification woudl be appreciated.

Hi there,

Vault uses Consul's catalog API to register its service, after which it's all up to Consul. Vault has nothing to do with DNS. Please file against Consul instead.

Thanks!

So my concern then is: why is Vault uniquely registering cnames when other services (those registered via nomad or with a curl) do not?  If that's NOT the root cause, why does this behavior _only_ occur with the vault service?

Vault doesn't register CNAMEs. Vault registers services with Consul. How Consul exposes those is up to Consul, not Vault. I have had no indication from Consul developers that Vault is doing anything wrong here (and indeed, one of the Consul devs wrote the registration code), so without further direction from the Consul devs I can't consider this a Vault issue.

Fair enough, it's still an oddly unique and repeatable issue that vault is getting registered with cnames where everything else registers with A records.  It at least implies something unique is going on.

Anyway, ticket opened in the consul side as well.

Sent from my mobile phone, sorry for any grammatical errors

________________________________
From: Jeff Mitchell <notifications@github.com>
Sent: Thursday, November 23, 2017 9:49:01 AM
To: hashicorp/vault
Cc: Justin King; Author
Subject: Re: [hashicorp/vault] [bug] vault + consul +dnsmasq = unresolvable ping (#3604)


Vault doesn't register CNAMEs. Vault registers services with Consul. How Consul exposes those is up to Consul, not Vault. I have had no indication from Consul developers that Vault is doing anything wrong here (and indeed, one of the Consul devs wrote the registration code), so without further direction from the Consul devs I can't consider this a Vault issue.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/hashicorp/vault/issues/3604#issuecomment-346674420>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AIY0L3XMMfYOHHAJOQ8JrkSxfsa3-pSEks5s5bANgaJpZM4QoAU9>.


As an fyi: it send this had been brought up before in the Google groups, so I'm not the only person seeing this behavior:

https://groups.google.com/forum/m/#!topic/consul-tool/IUp5LvUrGDA

Judging from that mailing list post it looks like the Vault behavior is correct. If you are specifying an IP address as the service address it will register as A, if you specify a DNS name it will register as a CNAME.

Is there a way I can toggle DNS vs IP registration in Vault?  Basically in an HA scenario multiple cnames is a demonstratable problem.  I should target consul to be smart enough to make shushes as well, but in short term this would solve my issues.

Sent from my mobile phone, sorry for any grammatical errors

________________________________
From: Jeff Mitchell <notifications@github.com>
Sent: Thursday, November 23, 2017 12:02:40 PM
To: hashicorp/vault
Cc: Justin King; Author
Subject: Re: [hashicorp/vault] [bug] vault + consul +dnsmasq = unresolvable ping (#3604)


Judging from that mailing list post it looks like the Vault behavior is correct. If you are specifying an IP address as the service address it will register as A, if you specify a DNS name it will register as a CNAME.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/hashicorp/vault/issues/3604#issuecomment-346690667>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AIY0LwlIsyE1CD9H4haqVbMnJrf0yEmFks5s5c9ggaJpZM4QoAU9>.


Yes, use an IP address for your redirect_addr/api_addr parameter.

Thank you for the tip!  Ill give it a test and see if it solves things!

Sent from my mobile phone, sorry for any grammatical errors

________________________________
From: Jeff Mitchell <notifications@github.com>
Sent: Thursday, November 23, 2017 1:29:49 PM
To: hashicorp/vault
Cc: Justin King; Author
Subject: Re: [hashicorp/vault] [bug] vault + consul +dnsmasq = unresolvable ping (#3604)


Yes, use an IP address for your redirect_addr/api_addr parameter.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/hashicorp/vault/issues/3604#issuecomment-346699786>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AIY0L6WY-G1ERbn0RUTkwx1Kscjko6Yqks5s5ePNgaJpZM4QoAU9>.


This tested out perfectly.  I agree this is now an issue with how consul presents data in an HA scenario.

Thank you again for your help

It doesn't seem to be like this is a bug in Vault or Consul, but rather something related to dnsmasq resolving CNAME records upstream. Regardless, A vs CNAME can definitely be controlled by the value you specify, as you saw.

It's a bug as consul is not following RFC 1034 Section 3.6.2, and if it's going to impersonate a DNS server it should.  Basically it should only ever return _one_ CNAME instead of multiple, so in a multi-match scenario it should always list A records.  This is why a ping fails regardless of dnsmasq being enabled in steps 3 and 7.  Dnsmasq is certainly aggravating the issue but as soon as that root issue is solved, everything functions 100% perfectly with dnsmasq enabled (all 7 steps work as expected now).

It doesn't make sense to issue a bug with dnsmasq when the service being queried doesn't follow standards.

Sounds like a bug should be issued for both?