PKI engine: issue cert with TTL after CA expiry results in error

Hi,

Today we got into trouble because our infra provisioning failed: It tried to issue a certificate with an end date beyond the CAs end date:
https://github.com/hashicorp/vault/blob/master/builtin/logical/pki/cert_util.go#L1014

I would expect one of the following:
1) Cap the signed certificate to the end date of the CA with a warning.
2) Optionally (by role-option) allow for certs that pass their CAs expiry date.
3) Combination of 1) and 2).

Number 2) can easily be achieved by exporting this variable as a role-option:
https://github.com/hashicorp/vault/blob/master/builtin/logical/pki/path_roles.go#L695:2

I dont mind implementing this if someone could tell me the desired behavior (I would prefer 3).

This happened in 0.11.2 but looking at the master branch at GitHub nothing changed in this behavior.

Cheers,
Andrej

Seeing this issue too: https://stackoverflow.com/questions/57394280/how-can-i-provision-a-vault-certificate-that-is-valid-longer-than-its-signing-ca

Hello - 

I apologize for the delay in getting around to this issue. Unfortunately after review I don't believe the mentioned options are viable. 

Looking through [RFC 5280][x509], I believe the current behavior is correct; certificates should 
not be allowed to expire after their CA expires. If I read the Vault code correctly, the only exception we make is when creating intermediaries. 

I'm going to close this issue for now. Please let me know if you have more information or thoughts on the issue. 

Thanks!

[x509]: https://tools.ietf.org/html/rfc5280

@catsby I don't see why capping the end date of the certificate to the end of the CA isn't an option? The problem for a user is that without that functionality they have to manually calculate the amount of time remaining and request appropriately.

@catsby where in the RFC does it say that capping a certificate or CSR to the CAs expiry date is not compliant? I understand issuing beyond CAs expiry date is non-compliant, but capping should be OK.

This issue has been causing problems for us as well. I don't see any viable workarounds either. We are requesting certs to be created using minimal parameters so the default certificate ttl is coming from the PKI Role. In this scenario a valid ttl is a moving target and is really hard for anything except Vault to calculate. If the CA certificate expires in 364 days and we are asking for a certificate with the default ttl of 1 year (365 days) it is unexpected to reject the request. The only workarounds are to proliferate code around that is somehow aware of the specific CA certificates expiration and perform the calculation on the fly when requesting the cert or to update the PKI Role defaults periodically to ensure the default ttl always falls within the CA certificate TTL. I don't believe either option is practical or developer friendly. Not to mention this is a ticking time bomb that could cause an outage if people don't code around it. Managing CA certs is hard enough, but to artificially block certificates from being created well before the CA cert expiration is unexpected behavior. We actually expect that we have about a year to rotate out certificates but the current Vault functionality surprised us and fortunately we caught it before it become a problem but we still don't have a good solution. +1 for allowing Vault to cap the expiration automatically.

I feel implementing certificate expiry capping is similar to Vault's currently behaviour with [renewals](https://www.vaultproject.io/docs/concepts/lease) -- a user can ask Vault to renew a lease for an hour, but it's advisory and it's up to the client to check the actual TTL of the renewed lease.

For certificates it could work similarly where a client asks for a TTL of 1 year for certificate, but if the CA is going to expire sooner than that it'd cap the TTL (as required by the RFC).

This is a major issue for us as well. We expect Vault to cap the end date of an issued intermediate CA certificate, to not exceed the end date of the signing CA.  

Kindly revisit this issue.

Please consider re-opening and re-visiting.

We recently experienced a massive production outage related to this issue. It does not look like the current implementation is RFC-compliant.

From [RFC 5280 §4.1.25](https://datatracker.ietf.org/doc/html/rfc5280#section-4.1.2.5):

> When the issuer will not be able to maintain status information until the notAfter date (including when the notAfter date is 99991231235959Z), the issuer **MUST** ensure that no valid certification path exists for the certificate after maintenance of status information is terminated. 
> This may be accomplished by expiration or revocation of all CA certificates containing the public key used to verify the signature on the certificate and discontinuing use of the public key used to verify the signature on the certificate as a trust anchor.

This tells me that the notAfter date does not need to be capped to the signing CA's expiry - just that if this is the case, then Vault should revoke the intermediate in time, which does not seem to currently be the case. Furthermore, the RFC doesn't specify whether this behavior can or may be different.

> If I read the Vault code correctly, the only exception we make is when creating intermediaries. - @catsby 

I do not believe the RFC specifies that intermediates should be treated differently for leaves, at least in terms of notAfter/notBefore.

As noted above, this should be addressed in #15277, with docs in #15238; feel free to test it out (`leaf_not_after_behavior` on `POST /issuer/:issuer_ref`)! This is slated for 1.11. 

Also I believe #13193 is a duplicate of this issue. 