[PKI, ACME] Allow configuration of challenge port for http-01

When requesting certificates using `certbot certonly --standalone` one can specify a different port for serving the `http-01` challenge (by using `--http-01-port`). This is useful if port 80 is already in use by other means (for example it's being redirected to the https port 443 by a reverse proxying web server).

Since `certbot` allows to specify a different port, it would be great if this could be configured in Vault, too (defaulting to 80).

@dhs-rec thanks for filing the issue but I doubt we will ever implement this as it would violate a stated requirement within [RFC 8555 Section 8.3](https://datatracker.ietf.org/doc/html/rfc8555/#section-8.3) for the http-01 challenge type.

> 3.  Dereference the URL using an HTTP GET request.  This request MUST be sent to TCP port 80 on the HTTP server.

The `certbot` option, I believe, is there if you plan on configuring something listening on port 80 to forward any request for .well-known/acme-challenges to `certbot` on a different port.

With that I'll close this request out, feel free to re-open it if you feel I've not understood your request properly.